In [1]:
import oracledb
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [2]:
dsn = '(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=nidbpro.cit.nih.gov)(PORT=6205))(CONNECT_DATA=(SERVICE_NAME=nidbpro)))'

In [3]:
con = oracledb.connect(user='crispi',password='W3lcome2N1DB!',dsn=dsn)
cur = con.cursor()

In [4]:
cur.execute('SELECT * FROM NSD.CRISPI_PUBS')

In [5]:
crispi_pubs_columns = cur.description
crispi_pubs_data = cur.fetchall()

In [6]:
cur.execute('SELECT * FROM NSD.CRISPI_REPORTS')

In [7]:
crispi_reports_columns = cur.description
crispi_reports_data = cur.fetchall()

In [8]:
crispi_reports_combined = list()
for entry in crispi_reports_data:
    temp = dict()
    for a,b in zip(crispi_reports_columns, entry):
        temp[a[0]] = b

    crispi_reports_combined.append(temp)
    
crispi_reports_table = pd.DataFrame(crispi_reports_combined)

In [9]:
crispi_reports_table.insert(0,'TimeStamp',pd.to_datetime('now').replace(microsecond=0).strftime('%m/%d/%Y %H:%M %p'))

In [10]:
crispi_pubs_combined = list()
for entry in crispi_pubs_data:
    temp = dict()
    for a,b in zip(crispi_pubs_columns, entry):
        temp[a[0]] = b

    crispi_pubs_combined.append(temp)

crispi_pubs_table = pd.DataFrame(crispi_pubs_combined)

In [11]:
crispi_pubs_table.insert(0,'TimeStamp',pd.to_datetime('now').replace(microsecond=0).strftime('%m/%d/%Y %H:%M %p'))

In [12]:
db = create_engine('postgresql://dashboardServer:dashboard@10.157.90.23:5432/Dashboard')
conn = db.connect()

In [13]:
crispi_reports_table.to_sql('NIDBCrispiReports', con=conn, if_exists='replace', index=False)
crispi_pubs_table.to_sql('NIDBCrispiPubs', con=conn, if_exists='replace', index=False)

978

In [12]:
crispi_reports_table

,TimeStamp,FNAME,LNAME,ORCID,NEDID,ROLE,PRIMARY,IPID,RPID,IC,RYEAR
0,2025-01-15 11:51:30,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,N,115502,1 ZIC ES103317-05,NIEHS,2020
1,2025-01-15 11:51:30,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,Y,121300,1 ZIC ES103317-06,NIEHS,2021
2,2025-01-15 11:51:30,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,N,128028,1 ZIA ES103375-01,NIEHS,2022
3,2025-01-15 11:51:30,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,N,131200,1 ZIA ES103375-02,NIEHS,2023
4,2025-01-15 11:51:30,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,Y,136817,1 ZIA ES103375-03,NIEHS,2024
...,...,...,...,...,...,...,...,...,...,...,...
28737,2025-01-15 11:51:30,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,110013,1 ZIA HD000150-44,NICHD,2019
28738,2025-01-15 11:51:30,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,114861,1 ZIA HD000150-45,NICHD,2020
28739,2025-01-15 11:51:30,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,120678,1 ZIA HD000150-46,NICHD,2021
28740,2025-01-15 11:51:30,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,126593,1 ZIA HD000150-47,NICHD,2022
28741,2025-01-15 11:51:30,Tianyi,Huang,0000-0001-8420-9167,2004232280,PI,Y,137954,1 ZIA AG000530-01,NIA,2024