In [1]:
import oracledb
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [2]:
dsn = '(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=nidbpro.cit.nih.gov)(PORT=6205))(CONNECT_DATA=(SERVICE_NAME=nidbpro)))'

In [3]:
con = oracledb.connect(user='crispi',password='W3lcome2N1DB!',dsn=dsn)
cur = con.cursor()

In [4]:
cur.execute('SELECT * FROM NSD.CRISPI_PUBS')

In [5]:
crispi_pubs_columns = cur.description
crispi_pubs_data = cur.fetchall()

In [6]:
cur.execute('SELECT * FROM NSD.CRISPI_REPORTS')

In [7]:
crispi_reports_columns = cur.description
crispi_reports_data = cur.fetchall()

In [8]:
#combining column names and data into list of dictionaries for each entry in data

In [9]:
crispi_reports_combined = list()
for entry in crispi_reports_data:
    temp = dict()
    for a,b in zip(crispi_reports_columns, entry):
        temp[a[0]] = b

    crispi_reports_combined.append(temp)
    
crispi_reports_table = pd.DataFrame(crispi_reports_combined)

In [10]:
crispi_reports_table.insert(0,'TimeStamp',pd.to_datetime('now').replace(microsecond=0))

,FNAME,LNAME,ORCID,NEDID,ROLE,PRIMARY,IPID,RPID,IC,RYEAR
0,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,N,115502,1 ZIC ES103317-05,NIEHS,2020
1,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,Y,121300,1 ZIC ES103317-06,NIEHS,2021
2,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,N,128028,1 ZIA ES103375-01,NIEHS,2022
3,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,N,131200,1 ZIA ES103375-02,NIEHS,2023
4,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,Y,136817,1 ZIA ES103375-03,NIEHS,2024
...,...,...,...,...,...,...,...,...,...,...
28737,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,110013,1 ZIA HD000150-44,NICHD,2019
28738,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,114861,1 ZIA HD000150-45,NICHD,2020
28739,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,120678,1 ZIA HD000150-46,NICHD,2021
28740,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,126593,1 ZIA HD000150-47,NICHD,2022
28741,Tianyi,Huang,0000-0001-8420-9167,2004232280,PI,Y,137954,1 ZIA AG000530-01,NIA,2024

In [11]:
crispi_pubs_combined = list()
for entry in crispi_pubs_data:
    temp = dict()
    for a,b in zip(crispi_pubs_columns, entry):
        temp[a[0]] = b

    crispi_pubs_combined.append(temp)

crispi_pubs_table = pd.DataFrame(crispi_pubs_combined)

In [12]:
crispi_pubs_table.insert(0,'TimeStamp',pd.to_datetime('now').replace(microsecond=0))

,IPID,NIDB_ID,PUBYEAR,PUBSTATUS,PUBMED_ID,PMC_ID,PUBTYPE,PUBLICATION
0,113506,260629,2019,N,None,NaN,P,"Welsh JA, Jones JC (submitted in 2019) Small p..."
1,108706,260637,2019,N,None,NaN,P,"Ho M, Li N (submitted in 2019) High affinity m..."
2,113275,260637,2019,N,None,NaN,P,"Ho M, Li N (submitted in 2019) High affinity m..."
3,110346,260658,2019,Y,30651576,6610661.0,J,"Stinson EJ, Graham AL, Thearle MS, Gluck ME, K..."
4,110363,260658,2019,Y,30651576,6610661.0,J,"Stinson EJ, Graham AL, Thearle MS, Gluck ME, K..."
...,...,...,...,...,...,...,...,...
68958,135809,343746,2024,N,39561927,NaN,J,"Rao VK, &#x160;ediv&#xe1; A, Dalm VASH, Pleban..."
68959,136542,343826,2024,Y,39461664,11570741.0,J,"Bahn YJ, Wang Y, Dagur P, Scott N, Cero C, Lon..."
68960,136938,343846,2024,N,39565547,NaN,J,"Cho YJ, Sherchan JS, Fernandez JR, Barlow SA, ..."
68961,136575,343873,2024,N,39647513,NaN,J,"Zhu H, Lee YT, Byrnes C, Angina J, Springer DA..."
68962,136576,343873,2024,N,39647513,NaN,J,"Zhu H, Lee YT, Byrnes C, Angina J, Springer DA..."

In [15]:
db = create_engine('postgresql://chiangpt:listle99@10.157.90.23:5432/Dashboard')
conn = db.connect()

In [16]:
crispi_reports_table.to_sql('NIDBCrispiReports', con=conn, if_exists='replace', index=False)
crispi_pubs_table.to_sql('NIDBCrispiPubs', con=conn, if_exists='replace', index=False)

963

In [15]:
NIDBJoin = crispi_reports_table.join(crispi_pubs_table, lsuffix="IPID", rsuffix="IPID")

In [16]:
NIDBJoin

,FNAME,LNAME,ORCID,NEDID,ROLE,PRIMARY,IPIDIPID,RPID,IC,RYEAR,IPIDIPID,NIDB_ID,PUBYEAR,PUBSTATUS,PUBMED_ID,PMC_ID,PUBTYPE,PUBLICATION
0,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,N,115502,1 ZIC ES103317-05,NIEHS,2020,113506,260629,2019,N,None,NaN,P,"Welsh JA, Jones JC (submitted in 2019) Small p..."
1,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,Y,121300,1 ZIC ES103317-06,NIEHS,2021,108706,260637,2019,N,None,NaN,P,"Ho M, Li N (submitted in 2019) High affinity m..."
2,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,N,128028,1 ZIA ES103375-01,NIEHS,2022,113275,260637,2019,N,None,NaN,P,"Ho M, Li N (submitted in 2019) High affinity m..."
3,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,N,131200,1 ZIA ES103375-02,NIEHS,2023,110346,260658,2019,Y,30651576,6610661.0,J,"Stinson EJ, Graham AL, Thearle MS, Gluck ME, K..."
4,Ruth,Lunn,0000-0002-9605-7137,0010401988,LI,Y,136817,1 ZIA ES103375-03,NIEHS,2024,110363,260658,2019,Y,30651576,6610661.0,J,"Stinson EJ, Graham AL, Thearle MS, Gluck ME, K..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28740,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,110013,1 ZIA HD000150-44,NICHD,2019,120697,281548,2020,Y,33150866,7673787.0,J,"Ekins TG, Mahadevan V, Zhang Y, D'Amour JA, Ak..."
28741,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,114861,1 ZIA HD000150-45,NICHD,2020,114939,281549,2019,Y,31790877,6909332.0,J,"Amyot F, Kenney K, Spessert E, Moore C, Haber ..."
28742,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,120678,1 ZIA HD000150-46,NICHD,2021,120682,281550,2020,Y,None,NaN,J,"Afrouz A, Andrea G, Cynthia L, Constantine S, ..."
28743,Maria,Dufau,0000-0002-3989-7113,0010038900,PI,Y,126593,1 ZIA HD000150-47,NICHD,2022,120747,281550,2020,Y,None,NaN,J,"Afrouz A, Andrea G, Cynthia L, Constantine S, ..."
28744,Tianyi,Huang,0000-0001-8420-9167,2004232280,PI,Y,137954,1 ZIA AG000530-01,NIA,2024,120677,281551,2020,Y,32886170,8541835.0,J,"Cerritelli SM, El Hage A (2020). RNases H1 and..."